body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 49, 49);
}

section {
  > h1 {
    color: white;
    text-align: center;
  }
}

form {
  > div {
    margin-top: 5px;
    color: white;
    text-align: right;
  }
  > div:nth-child(3) {
    text-align: center;
  }
  > div:last-child {
    text-align: center;
    > a {
      background-color: #009879;
      border-radius: 5px;
      padding: 2px;
      font-family: Arial, sans-serif;
      font-size: 13px;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
    a:hover {
      background-color: #006752; /* greener*/
    }
    a:active {
      background-color: #c01111; /* reder */
    }
  }
}
